.catalogueDesktop {
  width: 99px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  img {
    &:first-child {
      width: 36px;
      height: 36px;
    }
    &:last-child {
      width: 16px;
      height: 16px;
    }
  }
}
