.moreAction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 24px;
}
.moreAction .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.moreAction .item .icon {
  width: 24px;
  height: 24px;
}
.moreAction .item .text {
  line-height: 18px;
  color: #7a7e7f;
  font-size: 12px;
}
.moreAction .language {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 40px;
  border: 1px solid #cdcfd0;
  border-radius: 8px;
}
.moreAction .language .ant-dropdown-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-dropdown .ant-dropdown-menu {
  padding: 6px 8px;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  padding: 0;
}

.ant-dropdown-menu-title-content .itemLanguage {
  display: flex;
  padding: 8px;
  gap: 8px;
}
.ant-dropdown-menu-title-content .itemLanguage .flag {
  width: 36px;
}
.ant-dropdown-menu-title-content .itemLanguage .text {
  font-size: 13px;
  font-weight: 500;
}/*# sourceMappingURL=moreAction.css.map */