#menuDesktop {
  background-color: white;
  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 68px;
    background-color: white;
  }
  .logo {
    max-width: 53.79px;
  }
}
